body {
    color: #112D4E;
}

header img {
    padding-left: 20px;
    padding-top: 10px;
    width: 50%;
}

#sectionCandidatos {
    padding: 10px;
    text-align: center;
}

#sectionCandidatos .carousel .item .card {
    /* height: 400px; */
    margin: 10px;
    width: 100%;
    background-color: #DBE2EF;
    text-align: left;
    padding: 20px;
}

#sectionCandidatos .carousel .item .card .imagenes img {
    margin-bottom: 20px;
}

#sectionCandidatos .carousel .item .card img.candidato {
    height: 220px;
    width: 240px;
    float: left;
    border-radius: 30px;
}

#sectionCandidatos .carousel .item .card img.flag {
    width: 260px;
    height: 120px;
    float: right;
}